// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#include "Common.xcconfig"
#include "Debug.xcconfig"

INFOPLIST_FILE = Client/Info.plist
MOZ_BUNDLE_DISPLAY_NAME = KARMA Debug
MOZ_BUNDLE_ID = com.mykarma.karmasearchdebug
CODE_SIGN_ENTITLEMENTS = Client/Entitlements/KarmaApplication.entitlements
OTHER_SWIFT_FLAGS = $(OTHER_SWIFT_FLAGS_common) -DMOZ_CHANNEL_RELEASE
MOZ_INTERNAL_URL_SCHEME = karma
DEVELOPMENT_TEAM = 59G3A42UBG
OTHER_LDFLAGS = -ObjC -lxml2 -fprofile-instr-generate
